html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Open sans', sans-serif;
    color: navajowhite;
}

body {
    position: relative;

    /*margin: 0;*/
    /*overflow: hidden;*/
}

main {
    position: relative;
    height: 100vh;
    /*margin: 1em;*/
}



#coffeeDisplay{
    margin-right: 0;
    width: 100%;
}

.overlay {
    /*background-color: #e6e6e6;*/
    z-index: 10;
    position: relative;
    /*opacity: 0.75;*/
    /*background: rgba(131, 124, 127, 0);*/
}

.navbar-collapse {
    /*background-image: linear-gradient(to right, rgba(161,106,58,0), rgba(161,106,58,1));*/
    /*background-image: linear-gradient(to right, black, white, saddlebrown);*/
    /*padding: 5px;*/
    /*border-radius: 8px;*/
}

.black-text {
    color: black;
}
/*span.display-3 {*/
/*    color: navajowhite;*/
/*}*/

.card {
    background-image: url("/img/milk-coffee-pic.jpg");
    background-size: cover;
    /*opacity: .75;*/
}

/*img {*/
/*    height: 40px;*/
/*    width: 50px;*/
/*    border-radius: 5px;*/
/*}*/

.brown-color {
    color: white;
    font-weight: bolder;
}

/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/


/*Coffee background*/
.coffeeLoop {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}