html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Open sans', sans-serif;
    color: navajowhite;
}
body {
    position: relative;
}
main {
    position: relative;
    height: 100vh;
}

/*Styling for coffees*/
#coffeeDisplay{
    margin-right: 0;
    width: 100%;
}

/*Sets element over video background*/
.overlay {
    z-index: 10;
    position: relative;
}

/*Sets text to black*/
.black-text {
    color: black;
}

/*Adding black outline to text to make it readable against similar color background*/
.text-shadow {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

/*Cream background image on cards*/
.card {
    background-image: url("/img/milk-coffee-pic.jpg");
    cursor: url("../img/coffee-cup-cursor.png"), auto;
}

/*Image offset to make the background cards visually match the roast*/
.light-roast-bg {
    background-position: right 100px;
}
.medium-roast-bg {
    background-position: right 165px;
}
.dark-roast-bg {
    background-position: right 225px;
}

/*Coffee background video*/
.coffeeLoop {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}