html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    /*margin: 0;*/
    /*overflow: hidden;*/
}

main {
    position: relative;
    height: 100vh;
    /*margin: 1em;*/
}


/*.navbar {*/
/*    padding-top: 2rem;*/
/*}*/

#coffeeDisplay{
    margin-right: 0;
    width: 100%;
}

.overlay {
    background-color: #e6e6e6;
    z-index: 10;
    position: relative;
    opacity: 0.75;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


/*Coffee background*/
.coffeeLoop {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}